<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order History</title>
</head>
<body>

<h2>Order History</h2>

<table border="1">
  <tr>
    <th>Order ID</th>
    <th>Author</th>
    <th>Status</th>
    <th>Order Time</th>
    <th>Action</th>
  </tr>

  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.author}"></td>
    <td th:text="${order.status}"></td>
    <td th:text="${order.orderTime}"></td>

    <td>
      <a th:href="@{/order/pay/{id}(id=${order.id})}">
        Pay Order
      </a>
    </td>
  </tr>

</table>

<br>

<a href="/order/history">Search Another Order</a>

</body>
</html>