<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Admin Payment Detail</h2>

<p>
    Payment ID:
    <span th:text="${payment.id}"></span>
</p>

<p>
    Method:
    <span th:text="${payment.method}"></span>
</p>

<p>
    Status:
    <span th:text="${payment.status}"></span>
</p>

<form th:action="@{/payment/admin/set-status/{id}(id=${payment.id})}" method="post">

    <button type="submit" name="status" value="SUCCESS">
        Approve
    </button>

    <button type="submit" name="status" value="REJECTED">
        Reject
    </button>

</form>

</body>
</html>